.back {
    background-color:#ef4c70 ;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 20px;
}