@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Pridi');
    
    .accordion {
      background-color: #ffb3da;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 250px;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;

    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ffcce6;
    }

    .accordion:after {
        content: "\25B7" ; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #000;
        float: left;
        margin-right: 5px;
    }

    .active:after {
        content: "\25BD"; /* Unicode character for "minus" sign (-) */
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        /*padding: 0 18px;*/
        background-color: #f2f2f2;
        display: none;
        overflow: hidden;
        width: 250px;
    }
    .asdf{
      width: 250px;
      font-family: 'Karla', sans-serif;
    }
    .inacc{
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      font-size: 15px;
      font-family: 'Karla', sans-serif;
      

    }

    .splitleft {
      height: 150vh;
      width: 250px;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      float: left;
      background-color: #f9eaec;
      min-height: 100%;
      text-align: center;
    }



    .splitright {
      height: 100%;
      width: 60%;
      display: inline-block;
      z-index: 1;
      top: 0;
      overflow-x: visible;
      /*text-align: center;*/
      padding: 20px;
      padding-top: 0px;
      
    }

    h1,h2{
      font-family: 'Karla';
      font-size : 30px;
    }
    h2{
      font-size: 20px;
    }

    
    .regcu{
      color: black;
      font-family:'Pridi', sans-serif;
      font-size: 30px;
    }

